<section
  class="relative pb-10 bg-white dark:bg-gray-900 overflow-hidden bg-center dark:bg-[url('assets/images/pattern/pattern-dark.svg')] bg-[url('assets/images/pattern/pattern-light1.svg')]"
>
  <div class="pt-12 pb-12 md:pb-5">
    <div class="container px-4 mx-auto">
      <div class="mx-auto text-center max-w-3xl">
        <h1
          class="dark:text-teal-400 text-teal-900 mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tighter"
        >
          THEORY
          <p>Soda Lime Test for Nitrogen</p>
        </h1>
        <p
          class="dark:text-gray-50 mb-8 mx-auto text-lg md:text-xl text-gray-800 font-medium max-w-3xl"
        >
          The soda lime test is a chemical test used to identify and detect the
          presence of carboxylic acids and nitrogen in an organic compound. In
          this test, a small amount of compound is heated with soda lime. The
          liberation of a foul-smelling ammonia gas indicates the presence of
          nitrogen compounds in the solution. But this test is not applicable to
          compounds that have a -NO2 and diazo derivatives as they do not
          respond to this test hence having a negative result, do not indicate
          the lack in the presence of nitrogen.
        </p>
      </div>
    </div>
  </div>
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 mb-2 md:mb-10">
        <div class="flex flex-wrap justify-between items-center">
          <div class="w-full lg:w-1/2 mb-10 lg:mb-0">
            <h3
              class="dark:text-teal-400 text-teal-900 mb-2 text-2xl lg:text-3xl font-semibold"
            >
              Objective
            </h3>
            <h3
              class="dark:text-gray-50 text-lg md:text-xl leading-8 text-gray-800 font-semibold"
            >
              The objective for this experiment is to detect the presence of
              Nitrogen by the use of different compounds.
            </h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-5 lg:mb-0">
        <h3
          class="dark:text-teal-400 text-teal-900 mb-4 text-2xl lg:text-3xl font-semibold"
        >
          Learning Outcomes
        </h3>
        <ol
          class="dark:text-gray-50 mb-5 list-decimal list-inside text-lg font-medium leading-7 text-gray-800"
        >
          <li>
            <span
              class="dark:text-gray-50 text-lg font-medium leading-8 text-gray-800"
              >Students acquire the skill in understanding the Soda Lime Test
              for Nitrogen detection.</span
            >
          </li>
          <li>
            <span
              class="dark:text-gray-50 text-lg font-medium leading-8 text-gray-800"
              >Students understand the test to detect the presence of Nitrogen
              in Soda Lime and Urea.</span
            >
          </li>
          <li>
            <span
              class="dark:text-gray-50 text-lg font-medium leading-8 text-gray-800"
              >Students understand the chemical reactions, distinguish positive
              and negative result.</span
            >
          </li>
          <li>
            <span
              class="dark:text-gray-50 text-lg font-medium leading-8 text-gray-800"
              >Students acquire the skill to perform the experiment in the
              online lab simulation once they understand different steps in the
              procedure.</span
            >
          </li>
        </ol>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <img
          class="w-full h-[350px]"
          src="/assets/images/illustrations/illustration_7.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
