<section
  class="relative pb-10 bg-white dark:bg-gray-900 overflow-hidden bg-center dark:bg-[url('assets/images/pattern/pattern-dark.svg')] bg-[url('assets/images/pattern/pattern-light1.svg')]"
>
  <div class="pt-12 pb-12 md:pb-5">
    <div class="container px-4 mx-auto">
      <div class="mx-auto text-center max-w-3xl">
        <h1
          class="dark:text-teal-400 text-teal-950 mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tighter"
        >
          THEORY
          <p>Beilstein Test for Halogen</p>
        </h1>
        <p
          class="mb-8 mx-auto text-lg md:text-xl text-gray-800 dark:text-gray-50 font-medium max-w-3xl"
        >
          The Beilstein test is a test developed by Friedrich Konrad Beilstein
          that is used to detect the presence of halogens in a solution,
          although it does not distinguish between chlorine, bromine, or iodine.
          In this test. A copper wire is dipped into the halogen-containing
          solution and thrust into a flame. The copper oxide on the wire reacts
          with the organic halide to produce a copper-halide compound that gives
          a blue-green color to the flame.
        </p>
      </div>
    </div>
  </div>
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4 mb-14">
        <div class="flex flex-wrap justify-between items-center">
          <div class="w-full lg:w-1/2 mb-10 lg:mb-0">
            <h3
              class="dark:text-teal-400 text-teal-950 mb-4 text-2xl lg:text-3xl font-semibold"
            >
              Objective
            </h3>
            <h3
              class="text-lg md:text-xl leading-8 text-gray-800 dark:text-gray-50 font-semibold"
            >
              The objective for this experiment is to detect the presence of
              Halogen by the use of different compounds.
            </h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-5 lg:mb-0">
        <h3
          class="dark:text-teal-400 text-teal-950 mb-4 text-2xl lg:text-3xl font-semibold"
        >
          Learning Outcomes
        </h3>
        <ol
          class="mb-5 list-decimal list-inside text-lg font-medium leading-7 text-gray-800 dark:text-gray-50"
        >
          <li>
            <span
              class="text-lg font-medium leading-8 text-gray-800 dark:text-gray-50"
              >Students acquire the skill in understanding the Beilstein Test
              for Halogen detection.</span
            >
          </li>
          <li>
            <span
              class="text-lg font-medium leading-8 text-gray-800 dark:text-gray-50"
              >Students understand the test to detect the presence of Halogen in
              Chlorine compound.</span
            >
          </li>
          <li>
            <span
              class="text-lg font-medium leading-8 text-gray-800 dark:text-gray-50"
              >Students understand the chemical reactions, distinguish positive
              and negative result.</span
            >
          </li>
          <li>
            <span
              class="text-lg font-medium leading-8 text-gray-800 dark:text-gray-50"
              >Students acquire the skill to perform the experiment in the
              online lab simulation once they understand different steps in the
              procedure.</span
            >
          </li>
        </ol>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <img
          class="w-full h-[350px]"
          src="assets/images/illustrations/illustration_2.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
