<footer class="bg-white dark:bg-gray-950">
  <div
    class="container px-2 py-8 mx-auto border-b-2 border-green-100 dark:border-gray-700"
  >
    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full flex flex-col items-center">
        <a
          title="Gordon College Online Laboratory Simulator logo link"
          class="inline-block mx-auto"
          routerLink="home"
        >
          <img
            class="h-60"
            src="assets/images/logos/gcols-full.svg"
            alt="Gordon College Online Laboratory Simulator logo"
          />
        </a>
        <p
          class="max-w-xl text-md font-semibold leading-8 text-gray-900 dark:text-gray-50"
        >
          Easier access and unlimited trial for all students. Save time and
          money with our virtual lab simulation, a cost-effective solution
          compatible with chrome books, laptops and mobile devices.
        </p>
      </div>
    </div>
  </div>
  <div class="container px-4 py-8 mx-auto">
    <div class="flex flex-wrap justify-between">
      <div class="w-full lg:w-auto mb-6 lg:mb-0">
        <p
          class="text-center text-md font-semibold text-gray-900 dark:text-gray-50"
        >
          © 2024 Gordon College Online Laboratory Simulator. All rights
          reserved.
        </p>
      </div>
      <div class="w-full lg:w-auto flex items-center justify-center">
        <a title="logo" class="inline-block mr-8" href="#">
          <img
            width="35"
            height="35"
            src="assets/images/logos/GC.png"
            alt="GC Logo"
          />
        </a>
        <a title="logo" class="inline-block mr-8" href="#">
          <img
            width="35"
            height="35"
            src="assets/images/logos/CCS.png"
            alt="GCCCS Logo"
          />
        </a>
        <a title="logo" class="inline-block mr-8" href="#">
          <img
            width="35"
            height="35"
            src="assets/images/logos/CEAS.png"
            alt="GCCEAS Logo"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
