<section
  class="relative bg-white dark:bg-gray-900 overflow-hidden bg-center dark:bg-[url('assets/images/pattern/pattern-dark.svg')] bg-[url('assets/images/pattern/pattern-light1.svg')]"
>
  <div class="py-12 pb-28">
    <div class="container px-4 mx-auto">
      <div class="mx-auto text-center max-w-3xl">
        <h1
          class="text-teal-950 dark:text-teal-400 mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight font-bold tracking-tighter"
        >
          Detection of Elements Theories
        </h1>
        <p
          class="text-gray-800 dark:text-gray-100 mb-10 mx-auto text-lg md:text-lg font-medium max-w-3xl"
        >
          An Organic Compound is defined as a chemical compound that is composed
          of Carbon and Hydrogen in its nature. But there are a few exceptions
          like CCl4 and CS2 etc. and other elements can exist alongside hydrogen
          and carbon in an organic compound; and they are the nitrogen, oxygen,
          sulfur and halogens. The prominence of the said additional elements
          are being subjected in the identification and classification of
          different organic compounds. The Detection of these common elements in
          an organic compound is detected with the use of different tests and
          methods used to identify the specific element present in a compound.
        </p>
      </div>
    </div>
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -m-3">
        <div class="w-full md:w-1/2 xl:w-1/4 p-3">
          <div
            class="bg-white dark:bg-gray-900 border dark:border-gray-950 border-gray-100 rounded-md"
          >
            <div
              class="flex flex-col justify-center items-center px-4 pt-8 pb-6 border-b border-gray-100 dark:border-gray-950"
            >
              <img
                class="mb-4 h-[150px] w-[200px]"
                src="https://static.shuffle.dev/uploads/files/16/16ed19010108ad06a521b8af68664faeeff202f1/o.png"
                alt=""
              />
              <h2 class="text-sm font-medium text-gray-900 dark:text-gray-50">
                Ferrox Paper Test for Oxygen
              </h2>
              <br />
              <button
                routerLink="/theory/ferrox-paper-test-oxygen"
                class="flex items-center px-4 py-2 font-medium text-sm text-white bg-teal-500 hover:bg-teal-600 rounded-md"
              >
                <p>Learn More</p>
              </button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 p-3">
          <div
            class="bg-white dark:bg-gray-900 border dark:border-gray-950 border-gray-100 rounded-md"
          >
            <div
              class="flex flex-col justify-center items-center px-4 pt-8 pb-6 border-b border-gray-100 dark:border-gray-950"
            >
              <img
                class="mb-4 h-[150px] w-[200px]"
                src="https://static.shuffle.dev/uploads/files/16/16ed19010108ad06a521b8af68664faeeff202f1/n.png"
                alt=""
              />
              <h2 class="text-gray-950 dark:text-gray-50 text-sm font-medium">
                Soda Lime Test for Nitrogen
              </h2>
              <br />
              <button
                routerLink="/theory/soda-lime-test-nitrogen"
                class="flex items-center px-4 py-2 font-medium text-sm text-white bg-teal-500 hover:bg-teal-600 rounded-md"
              >
                <p>Learn More</p>
              </button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 p-3">
          <div
            class="bg-white dark:bg-gray-900 border dark:border-gray-950 border-gray-100 rounded-md"
          >
            <div
              class="flex flex-col justify-center items-center px-4 pt-8 pb-6 border-b border-gray-100 dark:border-gray-950"
            >
              <img
                class="mb-4 h-[150px] w-[200px]"
                src="https://static.shuffle.dev/uploads/files/16/16ed19010108ad06a521b8af68664faeeff202f1/h.png"
                alt=""
              />
              <h2 class="dark:text-gray-50 text-sm font-medium text-gray-900">
                Beilstein Test for Halogen
              </h2>
              <br />
              <button
                routerLink="/theory/beilstein-test-halogen"
                class="flex items-center px-4 py-2 font-medium text-sm text-white bg-teal-500 hover:bg-teal-600 rounded-md"
              >
                <p>Learn More</p>
              </button>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 p-3">
          <div
            class="bg-white dark:bg-gray-900 border dark:border-gray-950 border-gray-100 rounded-md"
          >
            <div
              class="flex flex-col justify-center items-center px-4 pt-8 pb-6 border-b border-gray-100 dark:border-gray-950"
            >
              <img
                class="mb-4 h-[150px] w-[200px]"
                src="https://static.shuffle.dev/uploads/files/16/16ed19010108ad06a521b8af68664faeeff202f1/s.png"
                alt=""
              />
              <h2 class="dark:text-gray-50 text-sm font-medium text-gray-900">
                Lead Acetate Test for Sulfur
              </h2>
              <br />
              <button
                routerLink="/theory/lead-acetate-test-sulfur"
                class="flex items-center px-4 py-2 font-medium text-sm text-white bg-teal-500 hover:bg-teal-600 rounded-md"
              >
                <p>Learn More</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
